html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    text-align: center;
    width: 800px;
    height: 455px;
    margin: auto;
}

.contact-left {
    float: left;
    width: 50%;
    text-align: left;
}

.contact-right {
    float: right;
    width: 50%;
}

.contact-right-1 {
    padding: 0 8px;
    width: 50%;
    float: left;
    display: block;
    font-size: 15px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
}

.contact-right-2 {
    width: 183px;
    height: 39px;
}

.contact-right-3 {
    width: 383px;
    height: 39px;
}
